@inherits ViewDocketDialogBase

<MudDialog Class="pa-3">
    <DialogContent>

        <MudGrid Class="pa-2">
            <MudItem xs="12" Class="d-flex">
                <MudAvatar Color="Color.Primary" Size="Size.Medium">@GetFirstLetterOFUser(Docket.Username)</MudAvatar>
                    <div class="ms-2 d-flex flex-column">
                        <MudText Typo="Typo.caption" Style="font-weight: 500; font-size: 14px">@Docket.Username</MudText>
                        <MudText Typo="Typo.caption" Style="font-size: 11px">@Docket.DateCreated.ToString("MM-dd-yyyy")</MudText>
                    </div>
                <MudSpacer />
                <MudRating Size="Size.Small" ReadOnly="true" SelectedValue="(int)Docket.AverageRating" Class="ms-2 pt-1" />
                <MudText Typo="Typo.subtitle1" Class="ms-2 mt-1" Style="font-weight: 500; font-size: 12px; opacity: 70%">@Docket.AverageRating</MudText>
            </MudItem>

            <MudItem xs="12" Class="d-flex flex-column mt-0 mb-0">
                <MudText Typo="Typo.body1" Class="mb-1">@Docket.Title</MudText>
                <MudText Typo="Typo.caption">@Docket.Body</MudText>
            </MudItem>
        </MudGrid>
    </DialogContent>
</MudDialog>