@page "/my-docket"
@using Docket.Client.Utilities
@using Docket.Shared
@inherits MyDocketBase
@attribute [Authorize(Roles = "user")]


@if(isLoading)
{
    <Loader />
}
else
{
    @if (Dockets == null || Dockets.Count() == 0)
    {
        <MudContainer Class="d-flex flex-column align-center pa-0 ma-0">
            <MudImage Src="/Image/No-Item.png" Width="450" Height="450" ObjectFit="ObjectFit.Cover" Elevation="0" Class="rounded" />
            <MudText Typo="Typo.h4" Align="Align.Center"><strong>NO DOCKETS</strong></MudText>
            <MudText Typo="Typo.subtitle2" Align="Align.Center">You don't have any dockets yet. Tap the button below to add.</MudText>
            <MudFab Color="Color.Primary" Label="Add Product" @onclick="async () => await AddDocket()" Class="mt-6" StartIcon="@Icons.Material.Filled.Add" Size="Size.Medium" />
        </MudContainer>
    }
    else
    {
        <div class="row d-flex justify-space-between px-2 docket-header">
            <MudText Typo="Typo.h4" GutterBottom="true" Class="ml-1" Style="font-weight: 600">My Dockets</MudText>
            <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Send"
                       Color="Color.Primary" Size="Size.Medium" Style="height: 3em" OnClick="AddDocket">Add</MudButton>
        </div>
        <MudTable Items="Dockets" Hover="true" Striped="false" Class="d-flex mt-6 px-5 pt-4 pb-4" Dense="false">
            <HeaderContent>
                <MudTh>Title</MudTh>
                <MudTh>Body</MudTh>
                <MudTh>Rates</MudTh>
                <MudTh>Public</MudTh>
                <MudTh>Date Created</MudTh>
                <MudTh>Date Modified</MudTh>
                <MudTh>Actions</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Title"><MudText Typo="Typo.body2">@TextModification.TextLimit(context.Title, 20)</MudText></MudTd>
                    <MudTd DataLabel="Body">@TextModification.TextLimit(context.Body, 25)</MudTd>
                    <MudTd DataLabel="Rates"><MudRating ReadOnly="true" SelectedValue="(int)context.AverageRating" /></MudTd>
                    <MudTd DataLabel="Public">
                        <MudSwitch T="bool" @bind-Value="context.IsPublic" ReadOnly="true" Color="Color.Primary"></MudSwitch>
                    </MudTd>
                    <MudTd DataLabel="Created">@context.DateCreated.ToString("MM-dd-yyyy")</MudTd>
                    <MudTd DataLabel="Modified">@context.DateModified.ToString("MM-dd-yyyy")</MudTd>
                    <MudTd DataLabel="Actions">
                        <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined" OverrideStyles="false">
                            <MudButton OnClick="() => ViewDocket(context)" Color="Color.Primary" Variant="Variant.Outlined">View</MudButton>
                            <MudButton @onclick="async () => await UpdateDocket(context)" Color="Color.Warning" Variant="Variant.Outlined">Edit</MudButton>
                            <MudButton @onclick="async () => await DeleteDocket(context.Id)" Color="Color.Secondary" Variant="Variant.Outlined">Delete</MudButton>
                        </MudButtonGroup>
                    </MudTd>
                </RowTemplate>
            </MudTable>
    }
}







    

